# Arquivo .gitignore para o projeto SolarVision

# --- Arquivos de Ambiente ---
# Nunca salve senhas ou chaves de API no Git!
.env
.env.*
!.env.example

# --- Arquivos de Sistema Operacional e IDEs ---
.DS_Store
Thumbs.db
.vscode/
frontend/node_modules/
frontend/dist/
.qa-tools/
.vercel
__pycache__/
